* {
  margin: 0;
  padding: 0;
}

.c-eng {
  margin: 5%;
}

.user-pf {
  .u-rate {
    height: 6rem;
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .user-def {
      display: flex;
      width: 70%;
      gap: 15px;
    }

    .edit-pf {
      align-self: center;
    }

    .profile-img {
      width: 4rem;
      height: 4rem;
      border: 1px solid;
      border-radius: 100%;
      align-self: center;
    }

    .user-inf {
      display: flex;
      flex-direction: column;
      align-self: center;
      font-size: 1.4rem;

      .prate {
        display: flex;
        gap: 3px;

        svg {
          width: 20px;
        }
      }

    }
  }
}

.profile-options {
  margin-top: 2rem;

  .ss-card-opt {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    height: 2.5rem;
    align-items: center;

    .ss-card-opt-f {
      margin-left: 10px;
      display: flex;
      align-items: center;
      gap: 15px;
      width: 80%;
    }

    .ss-card-opt-e {
      svg {
        width: 24px;
      }
    }
  }
}

.dir-cards {
  margin-top: 2rem;
  width: 100%;


  .ss-dir-card {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid black;

    .ss-dir-card-n1 {
      margin: 3%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        width: 24px;
      }

      div {
        display: flex;
        gap: 20px;
      }
    }

    .ss-dir-card-n2 {
      opacity: 60%;
      margin-left: 15%;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      gap: 5px;

      div {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        label {
          justify-self: center;
        }
      }
    }
  }

}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
