$title-size: 1.7rem;
$content-introduction-size: 1.35rem;
$button-text: 1rem;
$a-text: 0.9rem;
$a-color: black;
$card-height: 7rem;
$card-width: 4rem;
$button-height: 2.2rem;
$text-opacity: 30%;
$carrousel-card-height: 10;
$recent-card-height: 3;

section {

  display: flex;
  margin: 1%;
  gap: $card-width * 1.5;
  width: 100%;

  div {
    width: $card-width;
    height: $card-height * 2 - $card-width / 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: ($card-height + $card-height / $carrousel-card-height + $card-height / 12) 20px 20px 15px;

    div {
      div {
        grid-column-start: 1;
        grid-row-start: 1;
        width: $card-width * 2 - $card-width / 10;
        height: $card-height + $card-height / $carrousel-card-height;
        border: 1px solid black;
        border-radius: 3px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;


      }


      span {
        &:nth-of-type(1) {
          grid-column-start: 1;
          grid-row-start: 2;
          align-self: flex-start;
          font-size: 1rem;
        }

        &:nth-of-type(2) {
          grid-column-start: 1;
          grid-row-start: 3;
          font-size: 0.7rem;
          opacity: $text-opacity;
        }

        &:nth-of-type(3) {
          grid-column-start: 1;
          grid-row-start: 4;
          font-size: 0.7rem;
          opacity: $text-opacity;
        }

        &:nth-of-type(4) {
          grid-column-start: 1;
          grid-row-start: 5;
          font-size: 0.85rem;
        }

        &:nth-of-type(5) {
          text-align: end;
          width: 100%;
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 5;
          font-size: 0.6rem;
        }
      }
    }
  }
}
