$title-size: 1.7rem;
$content-introduction-size: 1.35rem;
$button-text: 1rem;
$a-text: 0.9rem;
$a-color: black;
$card-height: 7rem;
$card-width: 4rem;
$button-height: 2.2rem;
$text-opacity: 30%;
$carrousel-card-height: 10;
$recent-card-height: 3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.f-h {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;

  .arrow {
    width: 25px;
    height: 20px;
  }

  div {
    width: auto;
    display: flex;
    gap: 10px;

    svg {
      width: 24px;
    }
  }


}

//SECOND PART
.f-h+section {
  margin: 0;
  display: flex;
  flex-direction: column;

  .product-image {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 1fr;
    border-radius: 10px;
    align-self: center;
    height: 25rem;
    width: 90%;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all;
    transition-duration: 500ms;
    overflow: hidden;

    img {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-end: 15;
      z-index: -1;
      width: 100%;
      height: 25rem;
      object-fit: cover;
      object-position: center;
      transition: all;
      transition-duration: 500ms;
    }

    .sold-info-sold,
    .sold-info-active {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: -1;
      width: 35%;
      border-radius: 30px;
      align-items: center;
      display: grid;
      padding: 0.5rem;
      justify-self: flex-start;
      grid-template-columns: 0.1fr 0.1fr 0.1fr;
      margin: 5%;
      height: 2rem;
      justify-content: space-around;
      border: 1px solid black;
      background-color: hsl(0, 0%, 100%, 0.8);
    }

    .sold-info-active {
      color: green;
    }

    .sold-info-sold {
      color: red
    }

    .pagination-product {
      grid-row-start: 11;
      grid-column-start: 1;
      grid-column-end: -1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: max-content;
      gap: 10px;
      background-color: hsl(0, 0%, 50%, 0.75);
      padding: 0.5rem;
      height: 3rem;
      border-radius: 10px;

      .active-pagination {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100%;
        background-color: white;
      }

      div {
        transition: all;
        transition-duration: 400ms;
        height: 1rem;
        width: 1rem;
        border-radius: 100%;
        background-color: rgb(189, 189, 189);
      }
    }


    div {
      justify-self: center;

    }
  }

  .product-price {
    margin-top: 1rem;
    width: 90%;
    align-self: center;
    align-items: center;
    margin-bottom: 0.5rem;


    span {

      &:nth-child(1) {

        font-size: 1.7rem;
        font-family: Rubik,
          Verdana,
          Arial,
          sans-serif;
        ;
      }
    }
  }

  &>span:last-of-type {
    margin-top: 0.5rem;
    margin-left: 5%;
    font-weight: bold;
    font-size: 1.7rem;
    font-family: Rubik,
      Verdana,
      Arial,
      sans-serif;
    ;
  }
}

//THIRD PART
.f-h+section+section {
  display: flex;
  flex-direction: column;
  margin: 5%;



  .g-englober {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.1fr;
    width: 100%;

    .img-eng {
      overflow: hidden;
      width: 80px;
      height: 80px;
      border-radius: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content-pinf {
      display: flex;
      align-items: center;
      width: 100%;
      justify-self: start;
    }
  }

  .pinfo {

    display: flex;
    flex-direction: column;

    p {
      font-family: Rubik,
        Verdana,
        Arial,
        sans-serif;
      font-weight: bold;
    }

    .seg {
      grid-column-start: 2;
      grid-column-end: -1;
      display: flex;

      .prate {
        display: flex;

        span {
          font-size: 18px;
          margin-left: 0.3rem;
        }

        .valoration_sum {
          font-size: 14px;
        }

        svg {
          width: 18px;
        }
      }
    }
  }

  .showseller {
    align-self: center;
    width: 30px;
  }


}

.f-h+section+section+section {
  margin: 5%;

  .state {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;

    span {
      background-color: rgba(242, 241, 241, 0.914);
      padding: 0.3rem;
      border-radius: 5px;
    }


  }

  .pdesc {
    margin-top: 0.6rem;
  }

  .timestamps {
    margin-top: 1rem;
    display: flex;
    opacity: 0.5;
    justify-content: space-between;
  }

}


.f-h+section+section+section+section {
  margin: 5%;
  margin-top: 4rem;
  overflow: hidden;
  overflow-x: scroll;

  .titleSim {
    width: 90%;
    display: flex;
    position: absolute;
    margin-top: -2rem;
    justify-content: space-between;
    align-items: center;

    svg {
      opacity: 0.7;
      width: 23px;
    }
  }



}

.f-h+section+section+section+section+section {
  margin: 5%;
  display: flex;
  flex-direction: column;

  div {
    margin-top: 1rem;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: flex;
    width: 100%;
    gap: 10px;
    color: red;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0.5rem;

    svg {
      width: 24px;
    }

  }

}

.chat {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 7%;
  font-family: Rubik, Verdana, Arial, sans-serif;

  .chat-cont {
    display: flex;
    flex-direction: column;
  }

  .chat-fl {
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: space-between;


    svg {
      width: 30px;
    }
  }

  .chat-n {
    margin-top: 4rem;

    p {
      opacity: 50%;
    }

    div {
      margin-top: 0.2rem;
      background-color: hsl(0, 0%, 50%, 0.1);
      padding: 1rem;
      font-size: 20px;
      width: 100%;
      height: 2.5rem;
      border-radius: 10px;
      display: flex;
      align-items: center;

    }
  }

  .chat-m {
    margin-top: 2rem;

    p {
      opacity: 90%;
    }

    textarea {
      padding: 1rem;
      margin-top: 0.3rem;
      height: 20rem;
      width: 100%;
    }


  }

  .send-chat {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

    div {
      border-radius: 10px;
      background-color: hsl(0, 0%, 50%, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 3rem;
    }
  }
}

//FOOTER
footer {
  margin-top: 2rem;
  border: 1px solid black;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20rem;
}

.spacer {
  width: 90%;
  align-self: center;
  height: 1px;
  background-color: black;
  opacity: 70%;
}


.fixed-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 4rem;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;

  div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 50%;
      height: 60%;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      background-color: gray;
      align-items: center;
      color: white;

      svg {
        width: 24px;
      }
    }

  }
}

.descSub {
  color: #191c1e;
  font-weight: 550;
  font-size: 1.1rem;
  font-family: Rubik,
    Verdana,
    Arial,
    sans-serif;
}

.displayed {
  display: none;
}

// PANNEL TO CHAT REDIRECTION


.chat-redir {
  left: 0;
  height: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: hsl(0, 0%, 50%, 0.3);
  height: 100%;
  width: 100%;

  .c-eng {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .c-capsule {
      cursor: pointer;
      background-color: white;
      height: 15rem;
      width: 15rem;
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-family: italic;
      transition: all;
      transition-duration: 300ms;

    }

    .c-capsule:hover {
      .chat-aloc {
        transition: all;
        transition-duration: 500ms;
        font-size: 1.4rem;
      }

      height: 15 * 0.20+15rem;
      width:15 * 0.20+15rem
    }
  }

}
